VITE_N8N_BASE_URL=https://mekan-mellz.app.n8n.cloud
VITE_N8N_SIMULATE_PATH=/webhook/rescueflow-api
VITE_N8N_APPROVE_PATH=/webhook/rescueflow-api
VITE_N8N_REJECT_PATH=/webhook/rescueflow-api
VITE_N8N_ASK_PATH=/webhook/rescueflow-api